@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Newsreader:ital,wght@1,200&display=swap');

/*////////HEADER///////*/
*{
    margin:0;
    padding:0;
}
header{
    min-height: 10%;
}

.containerNav{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
}

.logo img{
    width: 200px;
    height: auto;
}

.navbar ul{
    margin-right: 10rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: black;
    letter-spacing: 1.2px;
    padding: 3rem;
    font-family: 'Cormorant Garamond', serif;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar ul li{
    padding: 10px;
    font-size: 18px;
}

.navbar ul a{
    text-decoration: none;
    color: black;
}

.navbar ul a:hover{
    color:rgb(14, 247, 72);
    text-decoration:none;
}

.pictos img{
    width: 40px;
    height: 40px;
    margin-left: -60%;
}

/*////////INDEX/////////*/


.imageAccueil img{
    position: relative;
    margin-top:5%;
    width: 100%;
    height: 90vh;   
} 

 .textPre{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    margin-top: -35%;
    margin-left: 5%;
    width: 500px;
    height: 400px;   
}

.textPre h1{
    color:snow;
    font-weight: bold;
    font-family: "Varela Round", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

.textPre button{
    margin-top:10%;
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    color:#fff;
    font-weight:bold;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px #2f6627;
    background:#7ed957;
     
}
      
.textpre button:hover {
        background: #3eac08
}


.text{
    font-size:20px
}

.containerRef{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerRef h1{
    text-decoration: underline;
    font-weight: bold;
    font-family: "Varela Round", sans-serif;
    font-size: 25px;
}

.refs{
    margin-top:2%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}

.video{
    margin-right: 1%;
}


/*INDEX PRODUIT*/

.containerProduit{
    margin-top:10%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}

.prodImage{
    width: 700px;
    height: 500px;
}

.textProd1{
    width: 200px;
    font: size 25px;
}

/*/////AVIS CLIENT////*/

.avisClient{
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    margin-bottom: 10%;
}

.avisClient h1{
    font-size: 50px;
    font-family: 'Newsreader', serif;
}

.comClient {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.avis{
    padding:2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
}

.avis img{
    height: 150px;
    width: 150px;
}

.avis p{
    font-size: 25px;
    text-align: center;
    margin-top: 0%;
}

.avis h4{
    margin-top: 10%;
}
/*------------------------------------------------------------------ PRODUITS----------------------------------------------- */
.produits{
    height: 500px;
    
}
.mainProduit h3,.P1 h3{
    text-align: center;
    margin-top: 5%;
    color: #7ed957;
}
.mainProduit{
    min-height: 100vh;
    margin-top: 10%;
    
}
.produit{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
}
.card{
    margin-left: 5%;
    display: flex;
}
.card h5{
    margin-top: 2%;
}


/* -----------------------------------------------------------PRODUIT------------------------------------------------------------------------ */

.bodyP1 {
    display: flex;
    flex-direction: column;
}

.P1{
    min-height: 100vh;
    margin-top: 15%;
}
.pack1,.pack2{
    display: flex;
    position: relative;
}
.pack1 p,.pack2 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2em;
}
.buttonP1{
    display:flex;
    flex-direction: column;
}
.pack1 img{
    height:35rem;
}
.pack2 img{
    height: 25rem;
}
button{
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #7ed957;
    border-radius: 28px;
}
.text{
    font-size:20px
}

/*footer.php*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.container{
    max-width: 1170px;
    margin:auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: white;
    padding: 70px 0;
    bottom: 0;
    width: 100%;
}

.column{
    width: 25%;
    padding: 0 15px;
}

.column h4{
    font-size: 22px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.column h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #7ed957;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.column ul li:not(:last-child){
    margin-bottom: 10px;
}

.column ul li a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.column ul li a:hover{
    text-decoration: none;
    transform: scale(1.1);
    transition: transform 0.5s;
    color:#7ed957;
}

.fa{
    flex-direction: row;
    justify-content: space-between;
    padding: 70px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: white;
}

.fa:hover{
    text-decoration: none;
    transform: scale(1.2);
    transition: transform 0.5s;
}

.fa-facebook:before{
    content: "\f09a";
    font-size: 35px;
    color: #7ed957;
}

.fa-twitter:before{
    content: "\f09a";
    font-size: 35px;
    color: #7ed957;
}

.fa-instagram:before{
    content: "\f09a";
    font-size: 35px;
    color: #7ed957;
}

.fa-youtube:before{
    content: "\f09a";
    font-size: 35px;
    color: #7ed957;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
  }
/*qui.php*/

.img-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.text1{
    text-align: center;

}