@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Newsreader:ital,wght@1,200&display=swap');

html,body{
    margin: 0;
    padding: 0;
}

/*////////HEADER///////*/

.containerNav{
    width: 100%;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
}

.logo img{
    width: 200px;
    height: 200px;
}

.navbar ul{
    margin-right: 10rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: black;
    letter-spacing: 1.2px;
    padding: 3rem;
    font-family: 'Cormorant Garamond', serif;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar ul li{
    padding: 10px;
    font-size: 18px;
}

.navbar ul a{
    text-decoration: none;
    color: black;
}

.navbar ul a:hover{
    color:rgb(14, 247, 72);
    text-decoration:none;
}

.pictos img{
    width: 40px;
    height: 40px;
    margin-left: -60%;
}

/*////////INDEX/////////*/

.imgAcceuil{
    width: 100%;
    height: auto;
    background-image: url("https://www.zone-outillage.fr/sites/default/files/visuels/actus/main/2613/pistolet-a-peinture-airless-wagner-powerpainter-90-extra-hea-test.jpg");
    background-image: cover;
}









/*------------------------------------------------------------------ PRODUITS----------------------------------------------- */
.produits{
    height: 500px;
}
.mainProduit{
    height: 500px;
}
.produit{
    display: flex;
    justify-content: center;
}
.card{
    margin-left: 5%;
    display: flex;
}
.card h5{
    margin-top: 2%;
}


/* -----------------------------------------------------------PRODUIT------------------------------------------------------------------------ */
.pack1{
    margin-top: 3%;
    display: flex;
}
.pack1 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2em;
}

.buttonP1{
    display:flex;
    flex-direction: column;

}
.pack1 img{
    
    height:35rem;
}
button{
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #7ed957;
    border-radius: 28px;
}